In [13]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [14]:
# H0 = 120, H1 != 120
population_mean = 120
sample_mean = 130.1
sample_size = 100
st_dev = 21.21

st_err = st_dev / math.sqrt(100)
z = (sample_mean - population_mean)/ st_err
critical_value = stats.t.ppf(0.95, df = 99) # t-table as we do not have the population standard deviation
print(z)
print(critical_value)
# z > critical_value => reject Ho

##It is assumed that the mean systolic blood pressure is Î¼ = 120 mm Hg. In the Honolulu Heart Study, 
##a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg.
##Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

4.761904761904759
1.6603911559963895

In [10]:
import pandas as pd
df=pd.read_fwf('Data_Machine.txt')
df.to_csv('Data_Machine.csv')
df=df.rename(columns={'New Machine':'new','Old':'old'})
df=df.drop(['Machine'],axis=1)
df

    new   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [18]:
new_mean=df.new.mean()
old_mean=df.old.mean()
new_std=df.new.std()
old_std=df.old.std()
n=10

In [26]:
t=(old_mean - new_mean)/math.sqrt((old_std **2)/n)+(new_std **2)/n

In [27]:
t

4.643235660938596