In [26]:
import random

sample_list_1 = []
 
for i in range(80):
    sample_list_1.append(random.randint(0,100))
print(sample_list_1)

[18, 23, 51, 5, 51, 20, 70, 68, 19, 45, 13, 46, 85, 93, 50, 68, 69, 51, 85, 85, 37, 75, 1, 49, 23, 6, 74, 61, 63, 82, 12, 71, 53, 19, 96, 94, 72, 84, 22, 13, 92, 87, 14, 24, 57, 71, 64, 1, 88, 100, 72, 10, 72, 40, 17, 29, 65, 33, 73, 51, 8, 4, 9, 46, 34, 50, 68, 37, 35, 96, 87, 53, 88, 28, 90, 33, 52, 72, 91, 0]

In [27]:
len(sample_list_1)

80

In [28]:
set1=set(sample_list_1)

In [29]:
print(len(set1))

57

In [33]:
import random
sample_list_2 = []
 
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[74, 1, 69, 54, 53, 17, 39, 55, 64, 65, 22, 83, 58, 78, 42, 77, 46, 61, 50, 33, 26, 19, 15, 67, 2, 89, 87, 36, 91, 20, 34, 20, 13, 5, 15, 44, 36, 80, 55, 70, 5, 61, 62, 45, 12, 98, 95, 1, 76, 50, 4, 100, 62, 41, 70, 25, 56, 98, 93, 74, 82, 42, 59, 100, 78, 56, 62, 3, 84, 63, 59, 58, 4, 40, 79, 32, 12, 91, 93, 41]

In [34]:
len(sample_list_2)

80

In [35]:
set2=set(sample_list_2)

In [36]:
print(len(set1))

57

In [50]:
print(len(set2))

56

#Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.

In [56]:
set3=list(set1.difference(set2))
set3

[0,
 6,
 8,
 9,
 10,
 14,
 18,
 23,
 24,
 28,
 29,
 35,
 37,
 49,
 51,
 52,
 57,
 68,
 71,
 72,
 73,
 75,
 85,
 88,
 90,
 92,
 94,
 96]

In [57]:
len(list(set1.difference(set2)))

28

##Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.

In [61]:
set4=list(set2.difference(set1))
set4

[2,
 3,
 15,
 25,
 26,
 32,
 36,
 39,
 41,
 42,
 44,
 54,
 55,
 56,
 58,
 59,
 62,
 67,
 76,
 77,
 78,
 79,
 80,
 83,
 89,
 95,
 98]

In [62]:
len(set4)

27

##Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5

In [63]:
set5=set1.intersection(set2)

In [64]:
print (set5)

{1, 4, 5, 12, 13, 17, 19, 20, 22, 33, 34, 40, 45, 46, 50, 53, 61, 63, 64, 65, 69, 70, 74, 82, 84, 87, 91, 93, 100}

(Optional) What is the relationship among the following values:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)
Use a formula to represent that relationship. Test your formula with Python code.

In [66]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

57
56
28
27
29

##Create an empty set called set6.

In [67]:
set6=[]

###Add set3 and set5 to set6 using the Python Set update method.

In [68]:
sample_list_1 = []
 
for i in range(80):
    sample_list_1.append(random.randint(0,100))
print(sample_list_1)

AttributeError: 'list' object has no attribute 'update'