In [68]:
import random

sample_list_1 = []
 
for i in range(80):
    sample_list_1.append(random.randint(0,100))
print(sample_list_1)

[79, 25, 97, 29, 30, 2, 52, 39, 84, 84, 93, 53, 91, 78, 78, 69, 64, 91, 12, 45, 51, 4, 77, 56, 69, 71, 63, 1, 78, 45, 73, 14, 35, 58, 74, 17, 35, 84, 40, 69, 30, 82, 2, 71, 84, 69, 29, 74, 48, 10, 92, 5, 39, 14, 80, 14, 77, 62, 69, 74, 54, 54, 73, 12, 27, 0, 94, 53, 42, 32, 80, 69, 38, 77, 89, 33, 57, 85, 51, 66]

In [69]:
len(sample_list_1)

80

In [70]:
set1=set(sample_list_1)

In [71]:
print(len(set1))

50

In [72]:
import random
sample_list_2 = []
 
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[86, 52, 24, 20, 10, 8, 60, 50, 83, 75, 99, 97, 47, 73, 20, 77, 7, 26, 61, 77, 73, 36, 33, 95, 70, 50, 19, 55, 33, 91, 6, 53, 90, 11, 32, 66, 81, 86, 17, 13, 49, 19, 37, 8, 3, 91, 2, 89, 76, 73, 50, 95, 37, 95, 2, 16, 8, 75, 58, 87, 10, 47, 58, 37, 14, 82, 90, 13, 72, 73, 40, 56, 51, 52, 5, 81, 61, 41, 73, 3]

In [73]:
len(sample_list_2)

80

In [74]:
set2=set(sample_list_2)

In [75]:
print(len(set1))

50

In [76]:
print(len(set2))

51

#Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.

In [77]:
set3=set1-set2
set3

{0,
 1,
 4,
 12,
 25,
 27,
 29,
 30,
 35,
 38,
 39,
 42,
 45,
 48,
 54,
 57,
 62,
 63,
 64,
 69,
 71,
 74,
 78,
 79,
 80,
 84,
 85,
 92,
 93,
 94}

##Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.

In [78]:
set4=set2-set1
set4

{3,
 6,
 7,
 8,
 11,
 13,
 16,
 19,
 20,
 24,
 26,
 36,
 37,
 41,
 47,
 49,
 50,
 55,
 60,
 61,
 70,
 72,
 75,
 76,
 81,
 83,
 86,
 87,
 90,
 95,
 99}

In [79]:
len(set4)

31

##Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5

In [80]:
set5=[]

In [81]:
set5=set1.intersection(set2)

In [82]:
print (set5)

{2, 5, 10, 14, 17, 32, 33, 40, 51, 52, 53, 56, 58, 66, 73, 77, 82, 89, 91, 97}

(Optional) What is the relationship among the following values:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)
Use a formula to represent that relationship. Test your formula with Python code.

In [83]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

50
51
30
31
20

##Create an empty set called set6.

###Add set3 and set5 to set6 using the Python Set update method.

In [84]:
set6=set()

In [85]:
set6.update(set3,set5)

In [86]:
print(set6)

{0, 1, 2, 4, 5, 10, 12, 14, 17, 25, 27, 29, 30, 32, 33, 35, 38, 39, 40, 42, 45, 48, 51, 52, 53, 54, 56, 57, 58, 62, 63, 64, 66, 69, 71, 73, 74, 77, 78, 79, 80, 82, 84, 85, 89, 91, 92, 93, 94, 97}

###Check if set1 and set6 are equal

In [87]:
set1==set6

True

##Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*

In [88]:
set1.issubset(set2)

False

In [89]:
set1.issubset(set3)

False

##Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2

In [90]:
set_union=set3.union(set4,set5)
set_union

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 19,
 20,
 24,
 25,
 26,
 27,
 29,
 30,
 32,
 33,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 66,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 99}

In [91]:
len(set_union)

81

In [92]:
set_union1=set1.union(set2)

In [93]:
set_union1

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 19,
 20,
 24,
 25,
 26,
 27,
 29,
 30,
 32,
 33,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 66,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 99}

In [94]:
len(set_union1)

81

##Using the pop method, remove an element from set1

###Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [95]:
set1

{0,
 1,
 2,
 4,
 5,
 10,
 12,
 14,
 17,
 25,
 27,
 29,
 30,
 32,
 33,
 35,
 38,
 39,
 40,
 42,
 45,
 48,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 62,
 63,
 64,
 66,
 69,
 71,
 73,
 74,
 77,
 78,
 79,
 80,
 82,
 84,
 85,
 89,
 91,
 92,
 93,
 94,
 97}

In [96]:
len(set1)

50

In [97]:
list_to_remove1=[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]###the elements are in the list form need to change
###to the set

In [98]:
list_to_remove=set()

In [99]:
list_to_remove.update(list_to_remove1)####updating the list into the empty set

In [100]:
print(list_to_remove)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

In [104]:
for n in list_to_remove:
    while n in set1:
        set1.pop(n)

In [105]:
print(set1)

{0, 2, 4, 5, 10, 12, 14, 17, 25, 27, 30, 32, 33, 35, 38, 40, 42, 45, 48, 52, 53, 54, 56, 57, 58, 62, 63, 64, 66, 73, 74, 77, 78, 80, 82, 84, 85, 92, 93, 94, 97}

In [106]:
len(set1)

41