In [66]:
import random

sample_list_1 = []
 
for i in range(80):
    sample_list_1.append(random.randint(0,100))
print(sample_list_1)

[20, 35, 55, 17, 36, 82, 53, 38, 44, 99, 51, 75, 37, 64, 42, 1, 87, 3, 40, 71, 94, 97, 58, 12, 71, 13, 85, 38, 21, 85, 83, 40, 1, 35, 64, 86, 57, 19, 45, 32, 36, 100, 5, 7, 83, 6, 4, 100, 67, 48, 44, 13, 9, 11, 83, 54, 16, 62, 18, 21, 85, 63, 40, 89, 98, 5, 45, 90, 25, 30, 22, 0, 78, 68, 83, 25, 33, 55, 78, 22]

In [67]:
len(sample_list_1)

80

In [68]:
set1=set(sample_list_1)

In [69]:
print(len(set1))

57

In [70]:
import random
sample_list_2 = []
 
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[6, 68, 1, 20, 50, 10, 85, 36, 0, 68, 14, 42, 84, 74, 21, 44, 8, 21, 22, 45, 7, 39, 29, 69, 65, 74, 49, 93, 85, 77, 77, 49, 37, 9, 55, 38, 80, 71, 36, 57, 67, 40, 20, 62, 25, 14, 16, 10, 78, 81, 48, 8, 96, 5, 77, 69, 7, 6, 1, 44, 93, 86, 69, 33, 87, 51, 78, 27, 18, 85, 58, 37, 76, 46, 49, 13, 72, 25, 74, 90]

In [71]:
len(sample_list_2)

80

In [72]:
set2=set(sample_list_2)

In [73]:
print(len(set1))

57

In [74]:
print(len(set2))

55

#Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.

In [75]:
set3=set1-set2
set3

{3,
 4,
 11,
 12,
 17,
 19,
 30,
 32,
 35,
 53,
 54,
 63,
 64,
 75,
 82,
 83,
 89,
 94,
 97,
 98,
 99,
 100}

In [76]:
len(list(set1.difference(set2)))

22

##Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.

In [77]:
set4=set2-set1
set4

{8, 10, 14, 27, 29, 39, 46, 49, 50, 65, 69, 72, 74, 76, 77, 80, 81, 84, 93, 96}

In [78]:
len(set4)

20

##Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5

In [79]:
set5=[]

In [80]:
set5=set1.intersection(set2)

In [81]:
print (set5)

{0, 1, 5, 6, 7, 9, 13, 16, 18, 20, 21, 22, 25, 33, 36, 37, 38, 40, 42, 44, 45, 48, 51, 55, 57, 58, 62, 67, 68, 71, 78, 85, 86, 87, 90}

(Optional) What is the relationship among the following values:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)
Use a formula to represent that relationship. Test your formula with Python code.

In [82]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

57
55
22
20
35

##Create an empty set called set6.

###Add set3 and set5 to set6 using the Python Set update method.

In [91]:
set6=set()

In [92]:
set6.update(set3,set5)

In [94]:
print(set6)

{0, 1, 3, 4, 5, 6, 7, 9, 11, 12, 13, 16, 17, 18, 19, 20, 21, 22, 25, 30, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 48, 51, 53, 54, 55, 57, 58, 62, 63, 64, 67, 68, 71, 75, 78, 82, 83, 85, 86, 87, 89, 90, 94, 97, 98, 99, 100}

###Check if set1 and set6 are equal

In [95]:
set1==set6

True

##Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*

In [96]:
set1.issubset(set2)

False

In [98]:
set1.issubset(set3)

False

##Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2

##Using the pop method, remove an element from set1

###Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]